.content {
    border: solid thin black;
}

.block1 {
    background-image: url("https://stepik.org/media/attachments/course/114064/back_7.jpg");
    width: 100%;
    height: 20%;
    text-align: center;
    
}

.block2 {
    width: 100%;
    border: solid thin black;
}

.block3 {
    width: 100%; 
    height: 5%;
    overflow: hidden;
}

ul {
    text-align: center;
    
}

li {
    border: solid thin black;
 display: inline-block;  
 width: 30%;
 height: 21%;
 margin: 10px;
 overflow: hidden;
 
}

li > span {
    font-weight: bold;
}

.uppear-block > img {
  height: 98%;
  width: 50%;
  vertical-align: middle;
  float: left;
  border: thin solid white;
}

li .uppear-block {
    display: inline-block;
    border: thin solid white;
    width: 100%;
    height: 50%;
    vertical-align: middle;
    text-overflow: ellipsis;
}

li .lower-block {
    display: inline-block;
    text-overflow: inherit;
    text-align: left;
    width: 100%;
    height: 50%;
    border: thin solid white;
    vertical-align: middle;
}

.block3 div {
    padding: 15px 0px;
    display: inline-block;
    width: 49.2%;
    float: left
}

.block3 span {
 float: right;  
 text-indent: 0px;
}
