.content {
    border: solid thin black;
}

.block1 {
    background-image: url("https://stepik.org/media/attachments/course/114064/back_7.jpg");
    width: 100%;
    height: 20%;
    text-align: center;
    
}

.block2 {
    border: solid thin black;
}

.block3 {
    display: inline;
    border: thin solid blue;
    padding-right: 28.4%;
}

ul {
    text-align: center;
    
}

li {
    border: solid thin black;
 display: inline-block;  
 width: 27%;
 height: 21%;
 margin: 10px;
 overflow: hidden;
 
}

li > span {
    font-weight: bold;
}

li > img {
  height: 50%;
  width: 50%;
  vertical-align: middle;
  float: none;
  text-align: left;
  border: thin solid red;
}

li div {
    padding: 10px;
    border: thin solid green;
    width: 92%;
    height: 37%;
    text-overflow: ellipsis;
    text-align: left;
}

.block3 span {
 text-align: center;  
}    
}
