h3 {
    text-align: center;
}

p { 
    grid-template-columns: repeat(2, 40%);  
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;

    margin: auto;
    /*grid-gap: 1vw; */
    grid-gap: 10px;
  }

  p > a { 
    padding: 2px;
    text-align: center;

    border: 1px solid grey; 
    background:grey;   
    text-decoration: none;    
} 

p > a:hover {
    background-color: green;
}

p > a:hover:before {
    content: "✓";
}

.content {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
}

.topic {
    border: 5px solid green;
    padding: 5px;
}

.topic b {
    float: center;
}
