h3 {
    text-align: center;
}

p { 
    grid-template-columns: repeat(2, 40%);  
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;

    margin: auto;
    grid-gap: 1vw; 
  }

  p > a { 
    padding: 2px;
    text-align: center;
} 

a {
    border: 1px solid grey; 
    background:grey;   
}

.green{ 
    border: 1px solid rgb(18, 100, 0); 
    background: rgb(18, 100, 0);   
} 

.banner {
    display: flex;
}

.item1 {
    border: 7px solid green;
}

.banner span {
    font-weight: bold;
}

.field2 {
    width: 50%;

}