svg {
    border: solid thin black;
}

.stg {
    display: flex;
}

.stg_one {
    display: flex;
}

.stg div{
    padding-right: 25px;
}

.el{
    font-weight: bold;
}

.stg_one span{
    padding-right: 5px;
}
